@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    box-sizing: border-box;
}

.logo {
    font-size: 1    .25em;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 8px;
    color: rgb(5, 1, 247);
}
nav {
    color: white;
}

.discover-main-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 10px;
    font-family: inherit;
    border: 0;
    font-size: 1em;
}


section.hero {
    // background-color: #000000;
    height: 100vh;
    padding: 5%;

    .hero-content{
        // max-width: 370px;
        position: absolute;
        top: 30%;
        left: 30%;
        margin-left: auto;
        margin-right: 0;
        z-index: 1;
        // color: rgb(212, 235, 8);
    }

    h1{
        font-family: inherit;
        color: yellow;
        font-size: 2.6em;
        margin-bottom: .5em;
        line-height: 1.3em;
    }
    p{
        font-size: 1em;
        margin-bottom: 1em;
        color: yellow;
    }
    .reach-btn {
        background-color: purple;
        color: yellow;
        display: flex;
        justify-content: center;
    }
}

.illustration {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    svg {
        position: absolute;
        right: 3%;
        // height: auto;
        width: 100%;
    }
}

// test about section




//about section

#about {
    min-height: 100vh;    
    scale: 0.8;
}

.img-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.meImg {
    background-image: url('../../assets/images/land.png');
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 70vh;
    max-height: 80vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin: 5%;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    line-height: 36px;
    padding: 5%;
}

#jobTitle{
    color: black;
    display: flex;
    justify-content: center;
    line-height: 28px;
}

.aboutMe {
    color: black;
    padding: 2em;
}

// projects section

#projects {
    min-height: 100vh;
    max-width: 100vw;
}

.projImage {
    display: flex;
    max-width: 45vw;
    padding: 15px;
    height: auto;
}

#projects {
    text-align: center;
}



// footer

footer {
    color: black;
    bottom: 0px;
    width: 100%;
    padding: 5%;
}
.main-content {
    display: flex;
}
.main-content .box {
    // flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.12rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0;
}
.left .social .content {
    margin: 20px 0 0 0;
}
.left .content .social i{
    padding: 0 2px;
}

.left .content .social a span{
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    margin: 10%;
}
.left .content .social a span:hover {
    background: #f12020;
}


@media only screen and (max-width: 768px){
    .projImage {
       max-width: 100vw !important;
    }
}
