<header>
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #242632;opacity: 0.8;">
        <div class="container"><a href="#" class="logo navbar-brand text-uppercase font-weight-bold">SLYM DESIGNS</a>
            <button style="color: cyan;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="#about" class="nav-link text-uppercase font-weight-bold">About</a></li>
                    <!-- <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Skills</a></li> -->
                    <li class="nav-item"><a href="#projects" class="nav-link text-uppercase font-weight-bold">Projects</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class=" home-main-section">
    <div class="img-wrapper">
        <div class="landing-img"></div>
    </div>
    <div class="call-to-action">
        <h1 class="title">LEVY RIUNGU</h1>
        <span class="sub-title">Full Stack web developer and DevOpps Guru!</span>
        <a href="#" class="btn">Contact</a>
    </div>
</section>
<div class="home-page-circle-1"></div>
<div class="home-page-circle-2"></div>
<div class="home-page-circle-3"></div>

<section id="about" class=" container discover-main-section" >

   <div class="call-to-action">
       <h1 class="title">About Levy..</h1>
   </div> <br>
   <div class="subtitle">
       Imagine a world where you control everything, where things exist because you let them exist, where everything works for your benefit and exactly as you planned, a canvas you can express yourself on surrounded by brilliant like minded individuals and communities cheering for you from a far...sounds too good to be true? it's not welcome to the software development world!
   </div>
   

</section> 

<section id="projects" class="container projects-section">
    <h1 class="title">Projects</h1>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta ad maxime ipsum rem a totam libero pariatur nesciunt laudantium, voluptatibus eveniet tempore, nihil blanditiis explicabo minus cumque temporibus! Consectetur, modi?
    </div>
</section>

<section id="contact" class="container contact-section">
    <h1 class="title">Contact Levy</h1>
</section>
<footer class="fixed" style="background-color: #26272e;">
    <div>copyright@2020 leskey levy</div>
</footer>

